body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

a, .submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .submit:hover {
    background-color: #45a049;
}

.center-button {
    display: block;
    width: 200px;
    margin: 20px auto 0;
    text-align: center;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.update-form label,
.update-form input {
    margin-bottom: 10px;
    width: 100%;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.back-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.delete-message {
    text-align: center;
    margin-top: 20px;
}

.delete-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    background-color: #ff0000;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.create-form {
    width: 300px;
    margin: 0 auto;
}

.create-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

.create-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}