body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

a {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #235b24;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #2f6831;
}